.navWrapper {
  background: linear-gradient(90deg, rgb(42, 42, 42), rgb(84, 84, 84));
}

.navMobile {
  width: 95%;
  margin: auto;
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  color: rgb(245, 245, 245);

  & li {
    list-style: none;
    padding: 0.6rem 0.8rem;

    & a {
      display: inline-block;
      padding: 0.6rem;
    }
  }
}

.home_link {
  font-weight: bold;
  font-family: var(--font-geist-mono);
}
