.mobileNav__dropdown {
  position: absolute;
  color: black;
  background-color: gray;
  list-style-type: none;
  top: 3rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.mobileNav__dropdown.visible {
  opacity: 1;
  transition: opacity 1s ease-in;
}
