.formContainer {
  max-width: 30%;
  margin-top: 10rem;
  padding: 0.5rem;
  margin: 0 auto;
  border: 1px solid darkgrey;
  border-radius: 4px;
  box-shadow: 2px 2px 3px black;

  & h3 {
    text-align: center;
  }

  & button {
    border: none;
    background: none;
    cursor: pointer;
    color: dodgerblue;
    font-weight: bold;
    font-size: 0.9rem;
  }

  & button:hover {
    animation-name: pulse;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  & p {
    text-align: end;
    padding: 0.3rem;
  }
}

.authForm {
  display: grid;
  padding: 0.5rem 0;
  width: 80%;
  margin: 0 auto;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}
