.input_label {
  font-weight: bolder;
}

.input {
  border-radius: 3px;
  outline: none;
  border: 1px solid var(--dark);
  padding: 0.4rem;

  &:focus-visible {
    border: 2px solid var(--light-blue);
  }
}
