.sidebar {
  position: fixed;
  text-align: center;
  padding-top: 6.5rem;
  color: white;
  background-color: rgb(60, 60, 60);
  list-style-type: none;
  width: 40%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 50;
  transition: transform 1s;
  transform: translateX(100%);
}

.cancelButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar.visible {
  transition: transform 1s;
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  background-color: rgb(60, 60, 60);
}
