.navWrapper {
  background: linear-gradient(90deg, rgb(42, 42, 42), rgb(84, 84, 84));
}

.navMain {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  font-size: large;
  padding: 0.3rem 0;

  & div[aria-label="mobile-nav"] {
    display: flex;
  }

  & div[aria-label="desktop-nav"] {
    display: none;
  }
}

.navMain__section {
  align-items: center;
  color: rgb(245, 245, 245);
  list-style-type: none;

  & li {
    padding: 0.6rem 0.8rem;

    & a {
      display: inline-block;
      padding: 0.6rem;
      border-radius: 0.4rem;
      transition: all 0.5s ease-out;
    }

    & a[aria-label="Get started"] {
      background-color: rgb(245, 245, 245);
      color: rgb(42, 42, 42);
      font-weight: bold;
      box-shadow: 2px 2px 5px rgb(155, 155, 155);
      border: 2px solid black;
    }

    & a:hover {
      background-color: rgb(250, 211, 84);
      color: rgb(255, 25, 140);
      font-weight: bold;
      transition: all 0.7s ease-in;
      box-shadow: 2px 2px 5px rgb(155, 155, 155);
      border: 2px solid black;
    }
  }
}

.navMain__section.visible {
  filter: blur(1px);
}

.home_link {
  font-weight: bold;
  font-family: var(--font-geist-mono);
}

#mobileNav__item {
  position: relative;
}

@media (min-width: 600px) {
  .navMain {
    & div[aria-label="mobile-nav"] {
      display: none;
    }

    & div[aria-label="desktop-nav"] {
      display: flex;
    }
  }
}

@media (min-width: 768px) {
  .navMain {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .navMain {
    width: 75%;
  }
}
