.navWrapper {
  background: linear-gradient(90deg, rgb(42, 42, 42), rgb(84, 84, 84));
}

.navMain {
  display: none;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  font-size: large;
  padding: 0.3rem 0;
}

.navMain__section {
  display: flex;
  color: rgb(245, 245, 245);
  list-style-type: none;

  & li {
    padding: 0.6rem 0.8rem;

    & a {
      display: inline-block;
      padding: 0.6rem;
      border-radius: 1rem;
      transition: all 0.5s ease-out;
    }

    & a:hover {
      background-color: rgb(250, 211, 84);
      color: rgb(42, 42, 42);
      transition: all 0.7s ease-in;
      box-shadow: 2px 2px 5px rgb(155, 155, 155);
    }
  }
}

.home_link {
  font-weight: bold;
  font-family: var(--font-geist-mono);
}

@media (min-width: 600px) {
  .navMain {
    display: flex;
  }
}

@media (min-width: 768px) {
  .navMain {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .navMain {
    width: 75%;
  }
}

/* @media (min-width: 1200px) {
  .navMain {
    padding: 0.2rem 9rem;
  }
} */
